# Intellij
build/
bin/
.idea/
*.iml
*.iws
.history/

# Mac
.DS_Store

# Maven
log/
target/
doc/

# Esclipse
.gradle
.settings/
local.properties
*.iml
.factorypath
.classpath
.metadata
.recommenders
RemoteSystemsTempFiles

# Gradle settings
gradle.properties
/.apt_generated/

#Jrebel
*rebel.xml

*.log
logs/